<% @posts.each do |post| %>
    <div class="post">
        <div class="title"><%= post.title %></div>
        <div class="body"><%= post.body %></div>
        <div class="flex-body">
            <div class="author">
                <% if current_user %>
                    <%= post.user.username   %>
                <% else %>
                    Anonymous
                <% end %>
            </div>
            <% if current_user %>
                <% if current_user.id == post.user_id %>
                    <div class="edit_btn">
                        <%= link_to "Edit post", edit_post_path(post) %>
                    </div>
                <% end %>
            <% end %>
                </div>
        </div>
<% end %>
